@import "client/stylesheets/utilities/all";

/* Override login buttons */

#login-buttons {

  a {
    font-family: $heading-font;
    display: block;
    text-decoration: none !important;

    &:hover {
      color: white;
    }
  }

}

.login-close-text {
  font-family: $heading-font;
  background-color: white !important;
  color: black !important;
}
