<template name="challenge">
  <div class="row">
    <div class="small-12 columns">
      <div id='challenge-area'>
        {{> challengeProgress}}
        <h3 id="instruction">
          {{qNumber}}. {{instruction}}
        </h3>
        <div id='question-area'>
          {{> questionArea}}
        </div>
        <div id='feedback-area'>
          {{> feedback}}
        </div>
        {{#momentum plugin="growl" }}
          {{#if completed}}
            {{> challengeComplete}}
          {{/if}}
        {{/momentum}}
      </div>
    </div>
  </div>
</template>
<template name="feedback">
  <div class='left' id='feedback'>
    {{#if gotFeedback}}
      {{#if isCorrect}}
        <span class="feedback-correct">Correct</span>
      {{else}}
        <span class="feedback-wrong">Wrong</span>. The correct answer is "{{feedback}}"{{/if}}.
    {{/if}}
  </div>
  {{#momentum plugin="slide-height" }}
    {{#if gotAnswer}}
      <button id='submit' class="right round">
        <i class='{{submitButtonIcon}}'></i>
      </button>
    {{/if}}
  {{/momentum}}
</template>
