<template name="dashboard">
  <div class="row dashboard-area">
    <div class="small-8 push-2 columns">
      <h1 class="page-title">Welcome {{currentUser.username}}</h1>
      <div progress-report>
        Here's your progress today.
        <h3>
          {{currentUser.profile.dayStreak}} {{dayStreakUnit}}
        </h3>
        <h3>
          Level: {{currentUser.profile.level}}
        </h3>
        <h3>
          Points: {{currentUser.profile.xp}}
        </h3>
      </div>
    </div>
  </div>
</template>
