<template name="introPage">
	<div class="row intro-area">
		<div class="small-8 push-2 columns">
			{{#unless login}}
		    <button class='right round success login'>
				  {{> loginButtons}}
	  		</button>
				<h1 class="name">
					Vietspeak
				</h1>
				<div class="intro-content panel">
					<p>
						Xin chào! Welcome to Vietspeak. Vietspeak is my first language learning app. I’m a big fan of Duolingo, Human Japanese, and Mindsnack. But then I realized there isn’t yet a Vietnamese version for English speakers. I have seen my friends and other expats living in Vietnam struggling with the language. Learning Vietnamese is tough, especially if you have never encountered a tonal language before. So Vietspeak is developed to become your little companion along this journey of learning the language. It’s not meant to be a complete course, there are many trained professors that offer classes at vlstudies, and from the Vietnam National University in Hanoi. Vietspeak is built small and compact as a light snack that you can churn away for a few minutes a day, perhaps while you’re sitting on the bus or finish up that delicious baguette. I hope whatever Vietspeak can do, it will help you feel more connected with the lovely Vietnamese people around you.
					</p>

					<p>
						Let’s our journey begins.
					</p>
				</div>
	  	{{else}}

	  		<h1>Welcome {{username}}</h1>

	  	{{/unless}}
		</div>
	</div>


</template>
