@import "utilities/all";

/* Lesson area */

#lesson-area {
  margin-top: 70px;
}

#lesson-content {
  width: 70%;
  height: 100%;
  padding: 5%;
  margin: auto;
  background-color: $light-blue;
  color: white;
  text-align: justify;
  @include box-shadow;
  h1, h2, h3 {
    color: white;
  }
}

.back,
.next {
  padding-top: 50px;
  background-color: $light-blue !important;
}

.practice-button,
.lesson-button {
  margin-top: 2px;
  width: 200px;
  @include box-shadow;
}
/* Challenge area */

#challenge-header {
  background-color: $material-dark;
}

#instruction {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  color: white;
}

#challenge-area {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  @include box-shadow;
}

#question-area,
#feedback-area {
  padding: 10px;
}

#question-area {
  padding-top: 40px;
  min-height: 400px;
}

#challenge-progress {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  border: 3px solid $material-teal;
}

#challenge-complete-area {
  text-align: center;
  position: absolute;
  top: 25px;
  left: 10%;
  width: 80%;
  min-height: 50%;
  background-color: white;
  @include box-shadow;
}

#continue-button {
  font-family: $heading-font;
}
/* Translate */

#answer-text {
  width: 90%;
  border-radius: 10px;
  font-size: 1em;
  @include box-shadow-light-blue;
}

#answer-text.disabled {
  pointer-events: none;
  @include box-shadow-none;
}

.phrase-translate {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
  border: solid 3px white;
}

/* Multiple choices */

.phrase-multiple-choices {
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 40px;
}

.choice {
  min-height: 70px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: $medium-white-transparent;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: solid 3px $light-gray;
  padding-bottom: 20px;
  padding-top: 20px;

  &:hover {
    border: solid 3px gray;
  }

  .image-hint {
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 10px;
  }
}

.choice.disabled {
  pointer-events: none;

  .image-hint {
    @include desaturate;
  }
}

.choice.checked {
  border: solid 3px $light-yellow;
  background-color: $very-light-yellow;
}

.choice.checked.correct {
  background-color: $light-green;
  border: solid 3px $light-green;
}

.choice.checked.wrong {
  background-color: $light-red;
  border: solid 3px $light-red;
}

.hotkey {
  font-size: 12px;
  color: #bbbbbb;
  margin-right: 10px;
}
/* Report area */

#feedback-area {
  overflow: hidden;
}

#feedback {
  font-family: $heading-font;
  font-size: 20px;
}

.feedback-correct {
  color: green;
}

.feedback-wrong {
  color: red;
}

#submit {
  margin-top: 20px;
  padding: 10px;
  width: 125px;
  height: 55px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: $heading-font;
}

/* Lookup text */

#lookup-text {
  border-radius: 3px;
  padding: 10px;
  @include box-shadow;
}
