@import "utilities/all";

// Common tags
html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
button,
.top-bar-section a:not(.button),
.label {
  font-family: $heading-font;
}

p,
div,
span {
  font-family: $body-font;
}

.container {
  height: 100%;
  background-image: url("img/mascot-landing-page.png"), url("img/march.jpg");
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
  background-position: left -20px bottom -20px, top left;
  background-size: 400px auto, cover;
}

textarea {
  resize: none;
}

