@import "utilities/all";

// Common tags
html,
body {
  height: 100%;
  overflow: hidden;
}

body,
h1,
h2,
h3,
button,
.top-bar-section a:not(.button),
.label {
  font-family: $heading-font;
}

p,
div,
span {
  font-family: $body-font;
}

hr {
  margin: 0;
}

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-image: url("img/mascot-landing-page.png"), url("img/march.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left -20px bottom -20px, top left;
  background-size: 400px auto, cover;
  background-attachment: hidden, hidden;
}

textarea {
  resize: none;
}

