// fonts
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// Colors
$dark-red: #BF4414;
$dark-blue: #34495E;
$light-blue: #5B6C7D;
$light-purple: #636685;
$dark: #333333;
$teal: #2ecc71;

// Font stack
$bree-font-stack: "BreeSerif", sans-serif;
$hipsteria-font-stack: "Hipsteria", sans-serif;
$museo-font-stack: 'Museo', sans-serif;
$dosis-font-stack: 'Dosis', sans-serif;
$open-sans-font-stack: 'Open Sans', sans-serif;

$heading-font: $museo-font-stack;
$body-font: $museo-font-stack;

// Box shadows

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 8px 3px rgba(63,63,63,0.73);
	-moz-box-shadow: 0px 0px 8px 3px rgba(63,63,63,0.73);
	box-shadow: 0px 0px 8px 3px rgba(63,63,63,0.73);
}

@font-face {
	font-family:"Hipsteria";
	src:url("/fonts/VN_Hipsteria/Hipsteria.ttf") format("truetype");
}

@font-face {
	font-family:"Museo";
	src:url("/fonts/VN_Museo/VNF_Museo Slab 500.ttf") format("truetype");
}

@font-face {
	font-family:"BreeSerif";
	src:url("/fonts/VN_Bree/BreeSerif.otf") format("truetype");
}

html, body {
	height: 100%;
}

body, p, h2, h3, button, div, span, .top-bar-section a:not(.button), .label {
	font-family: $body-font;
}

body {
	overflow: hidden;
}

textarea {
	resize: none;
}

/* Top navigation */

h1 {
	font-family: $heading-font;
}

.name {

	a {
		@extend h1;
	}
}

.top-bar {
	background: $dark-blue;
}

.top-bar-section {
	li:not(.has-form) {
		a:not(.button) {
			@extend .top-bar;
		}
	}
}

.top-bar-section {
	li.active:not(.has-form) {
		a:not(.button) {
			background-color: $dark;
		}
	}
}

/* Lessons */

.title {
	margin: 5%;
}

.lesson-list {
	list-style: none;
	@include box-shadow;
}

.lesson-item {
	width: 100px;
	height: 100px;
	background-image: url("/img/icon-turtle.png");
	background-size: 100px 100px;
	background-repeat: no-repeat;
	margin-bottom: -5px;
}

/* Lesson area */

#lesson-content {
	position: absolute;
	top: -10px;
	left: 20px;
	width: 100%;
	height: 100%;
	padding: 10%;
	background-color: rgba(85, 85, 85, 1);
	color: white;
	overflow: hidden;
	z-index: 10;
	border-radius: 10px;
}

#view-lesson {
	position: absolute;
	top: 10px;
	left: -120px;
	z-index: 11;
}

#lesson-area {
	position: relative;
	margin: 5% 20%;
	border-radius: 10px;
	padding: 3%;
	@include box-shadow;
}

/* Challenge area */

#challenge-area {
	margin: 5%;
}

#challenge-progress {
	background-color: #D7E1E5;
	width: 100%;
}

/* Phrase */

.phrase {
	font-weight: bold;
	font-size: 1.5em;
}

/* Translate */


/* Multiple choices */

.choice {
	height: 70px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px #cccccc;
	cursor: pointer;
	padding-left: 10px;
}

.choice.checked {
	box-shadow: 4px 4px 4px #008CBA;
}

.hotkey {
	font-size: 12px;
	color: #bbbbbb;
	margin-right: 10px;
}

/* Report area */

#feedback-area {
	overflow: hidden;
}

#feedback {
	font-size: 20px;
}

.feedback-correct {
	color: green;
}

.feedback-wrong {
	color: red;
}

/* Lookup text */

#lookup-text {
	border-radius: 3px;
	padding: 10px;
	@include box-shadow;

}

/* Override foundation */

button {
	outline: none;
	background-color: $dark-blue;
}

label {
	font-size: 20px;
}

.panel {
	border: 0px;
	border-radius: 10px;
}

.has-tip {
	font-weight: normal;
}


/* Override login buttons */

#login-buttons a {
	display: block;
	color: white;
	text-decoration: none !important;
}

.login-close-text {
	background-color: white !important;
	color: black !important;
}

/* Animations */

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}
