@import "utilities/all";

/* Top navigation */

nav.top-bar {
  text-align:center;
}
section.top-bar-section {
  display: inline-block;
  margin-top: 10px;

  .user {
    margin-left: 100px;
  }

  .label {
    background-color: $transparent;
    border-radius: 20px;
    border: 2px solid $material-gray;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: .8em;
    color: black;
  }
}

.top-bar {
  background-color: $transparent;
}

.title-area {
  .name {
    @extend .top-bar;
  }
}

.top-bar-section {
  li:not(.has-form) {
    background-color: $transparent;
    a:not(.button) {
      @extend .top-bar;
      font-size: 1.2em;
      color: black;
      font-weight: bold;
    }
    .nav-lesson {
      background-position: middle !important;
      background-repeat: no-repeat !important;
    }
  }
}
