<template name="lessonIntroduction1">

	{{#markdown}}

##Introduction

Welcome to your new adventure in learning Vietnamese! Before we delve into the basic greetings, counting, and various imagined conversations, let’s warm up a bit about this beautiful yet complex language that you’re about to learn.

Vietnamese is a tonal language, meaning that the tone can change the meaning of the words, even though the pronunciation might still be the same. This is different from English and most other European languages, where tones do not change a word’s meaning. It could be challenging at first if you have never learned a tonal language before (such as Chinese or Thai), but paying close attention to the **tones** of the different words will be the most important thing to master Vietnamese. Once you have become a tonal wizard, the rest will be a breeze. Pay attention to those accent marks, also called diacritics; they are your most faithful personal guide to the Vietnamese tonal world.

	{{/markdown}}

</template>

<template name="lessonIntroduction2">

	{{#markdown}}

##A very brief history of the language

Vietnamese language originated from the Northern part of Vietnam, closest to the Chinese border. Many of parts of the language has borrowed heavily from Chinese vocabulary. In its cradle time, Vietnamese was written using modified Chinese characters, called “Nôm”, much like Korean and Japanese. But during the 17th century, European missionaries, particularly Portuguese, introduced a Romanized version of the writing system, called “Quốc ngữ”, which is what we see nowadays. With thousands of vocabulary with Chinese roots and a Latin-based writing system, Vietnamese language carries in itself a harmonic blend of the East and West, rich and flavorful in its speaking and wording, yet approachable in its writing.


	{{/markdown}}

</template>

<template name="lessonIntroduction3">

	{{#markdown}}

##Grammar
Vietnamese grammar is actually quite simple. It follows the common pattern of Subject - Verb - Object seen in English. And the good news is, Vietnamese has no past/present/future tenses, gender case, definite/indefinite, plural/singular, resulting in no conjugation in any word. To express those ideas, typically a prefix or suffix word is added, or the context will imply the idea. It can be confused at first to English speakers, but we’ll see later on how that can be solved.

	{{/markdown}}

</template>
