<template name="lessonIntroduction1">

	{{#markdown}}

##Introduction

Welcome to your new adventure in learning Vietnamese! Before we delve into the basic greetings, counting, and various imagined conversations, let’s warm up a bit about this beautiful yet complex language that you’re about to learn.

Vietnamese is a tonal language, meaning that the tone can change the meaning of the words, even though the pronunciation might still be the same. This is different from English and most other European languages, where tones do not change a word’s meaning. It could be challenging at first if you have never learned a tonal language before (such as Chinese or Thai), but paying close attention to the **tones** of the different words will be the most important thing to master Vietnamese. Once you have become a tonal wizard, the rest will be a breeze. Pay attention to those accent marks, also called diacritics; they are your most faithful personal guide to the Vietnamese tonal world.

	{{/markdown}}

</template>

<template name="lessonIntroduction2">

	{{#markdown}}

##A very brief history of the language

Vietnamese language originated from the Northern part of Vietnam, closest to the Chinese border. Many of parts of the language has borrowed heavily from Chinese vocabulary. In its cradle time, Vietnamese was written using modified Chinese characters, called “Nôm”, much like Korean and Japanese. But during the 17th century, European missionaries, particularly Portuguese, introduced a Romanized version of the writing system, called “Quốc ngữ”, which is what we see nowadays. With thousands of vocabulary with Chinese roots and a Latin-based writing system, Vietnamese language carries in itself a harmonic blend of the East and West, rich and flavorful in its speaking and wording, yet approachable in its writing.


	{{/markdown}}

</template>

<template name="lessonIntroduction3">

	{{#markdown}}

##Grammar
Vietnamese grammar is actually quite simple. It follows the common pattern of Subject - Verb - Object seen in English. And the good news is, Vietnamese has no past/present/future tenses, gender case, definite/indefinite, plural/singular, resulting in no conjugation in any word. To express those ideas, typically a prefix or suffix word is added, or the context will imply the idea. It can be confused at first to English speakers, but we’ll see later on how that can be solved.

	{{/markdown}}

</template>

<template name="lessonIntroduction4">

	{{#markdown}}

##The writing system

Vietnamese uses the popular Roman alphabet with some modifications.

17 consonants. Almost all consonants are the usual ones you would see in English, except for đ (which is a hard sound, pronounced as the English ‘d’, whereas the Vietnamese ‘D’ is a soft sound, pronounced as in ‘yi’)

1.	B
2.	C
3.	D
4.	Đ
5.	G
6.	H
7.	K
8.	L
9.	M
10.	N
11.	P
12.	Q
13.	R
14.	S
15.	T
16.	V
17.	X

Notice that there are no F, J, W, nor Z in native Vietnamese.

There are 12 vowels in total. The ‘a’ series has 3, ‘e’ series has 2, ‘o’ series has 3, ‘u’ series has 2, and ‘y’ is a loner. Note that the marks attached to some of these vowels **are not** accent marks, they are simply to indicate a different, independent vowel. ‘a, e, I, o, u’ are pronounced exactly as in French, Spanish, or Portuguese.

A
Ă
Â
E
Ê
I
O
Ô
Ơ
U
Ư
Y

	{{/markdown}}

</template>

<template name="lessonIntroduction5">

	{{#markdown}}

##Pronunciation

Vietnamese is monosyllabic, with each syllable of a word separated by space (for example: “đồng hồ”).
There’s a good news: Vietnamese is pronounced exactly as it is written. Every letter in Vietnamese is always pronounced the same as indicated in the alphabet, no matter where it’s placed inside the word. For example, the letter ‘a’ is always pronounced ‘ahh’, as in ‘ba’, or ‘tha’, or ‘ngoa’. Unlike in English, the letter ‘a’ changes depending on its neighboring letters, as in ‘apple’ can be pronounced completely different from ‘may’, ‘a’ will always be pronounced ‘a’ when it’s included in any word. Also, adjacent letters NEVER changes the pronunciation of each other. Unlike in English when mysterious pronunciation rules are used when a letter is placed next to another one, as in the difference between ‘apple’ and ‘bait’. English speakers also tend to glide one letter into another, for example as in “speak up”, where you tend to pronounce it as “s-peek-kup”. In Vietnamese, such gliding between two words never happens.

Here comes the tricky part of pronunciation: there are 6 tones in the language. Thankfully, each tone is clearly indicated by the accent marks, or diacritics. Let’s meet them right now, so our fear is no more! Here’s the full assemble

	{{/markdown}}

<table>
  <caption>Vietnamese diacritics</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sắc (sharp)</td>
      <td>‘ (acute accent)</td>
      <td>Lá (leaf)</td>
    </tr>
    <tr>
      <td>Huyền (hanging)</td>
      <td>` (Grave accent)</td>
      <td>là (to be) </td>
    </tr>
    <tr>
      <td>Hỏi (asking)</td>
      <td>? (Hook)</td>
      <td>lả</td>
    </tr>
    <tr>
      <td>Ngã (tumbling)</td>
      <td>~ (Tilde)</td>
      <td>lã (bland)</td>
    </tr>
    <tr>
      <td>Nặng (heavy)</td>
      <td>. (Dot below)</td>
      <td>Lạ (strange)</td>
    </tr>
    <tr>
      <td>Ngang (level)</td>
      <td>(No mark)</td>
      <td>La (yelling)</td>
    </tr>
  </tbody>
</table>

	{{#markdown}}

Pay close attention to these five accent marks and not to be confused with the other marks you’ve seen in the vowel above (‘ỏ’ is with an accent mark, ‘ơ’ is just a vowel). Every word has exactly one tone, even the ones without an accent mark (it’s the level tone). An accent mark is only written once above or below the nucleus vowel.

And that concludes all our preparation for the journey ahead. Let’s venture forth!

	{{/markdown}}

</template>
