<template name="qMultipleChoicesTranslation">
  <p class="phrase">"{{phrase}}"</p>
  <ul class="small-block-grid-2">
    {{#each choices}}
      <li>
        <div class="choice {{#if checked}}checked{{/if}} {{#if gotFeedback}}{{#if isCorrect}}correct{{else}}wrong{{/if}}{{/if}} choice-{{hotkey}}">
          {{#if hasImage}}
            <img class="image-hint choice-{{hotkey}}" src="{{image}}" width="150px" height="150px">
          {{/if}}
          {{translation}}
          <kbk class="hotkey right">{{hotkey}}</kbk>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
