<template name="qReplaceWrongWord">
  <p>English phrase:</p>
  <p>{{englishTranslation}}</p>
  <p>Vietnamese Phrase:</p>
  <ul class="inline-list">
    {{#each phraseWords}}   
    <li>
          <div class="{{#if replaceEnabled}} phraseWord {{/if}}">{{word}}</div>
      
    </li>
    {{/each}}
  </ul>
  {{#if showMultipleChoice}}
    <ul class="small-block-grid-4">
      {{#each choices}}
        <li>
          <div class="choice {{#if checked}}checked{{/if}} {{#if gotFeedback}}{{#if isCorrect}}correct{{else}}wrong{{/if}}{{/if}} " id ="{{displayedWord}}">
            {{displayedWord}}
          </div>
        </li>
      {{/each}}
    </ul>
    <!-- <p>CHOICES GO HERE</p> -->
  {{/if}}
</template>
