<template name="qReplaceWrongWord">
  <div class="row"> 
    <div class="small-2 columns">English phrase:</div>
    <div class="small-9 columns phrase-translate">{{englishTranslation}}</div>
  </div>
  <p>Vietnamese Phrase:</p>
  <ul class="inline-list">
    {{#each phraseWords}}   
    <li>
          <div class="phraseWord {{#if replaceEnabled}}phraseWordClickable{{else}}{{#if isWrong}}wrong{{/if}}{{/if}} {{#if animationEnabled}} animate-shake-wrong{{/if}}">{{word}}</div>
      
    </li>
    {{/each}}
  </ul>
  {{#if showMultipleChoice}}
    <ul class="small-block-grid-4">
      {{#each choices}}
        <li>
          <div class="choice {{#if checked}}checked{{/if}} {{#if gotFeedback}}{{#if isCorrect}}correct{{else}}wrong{{/if}}{{/if}} " id ="{{displayedWord}}">
            {{displayedWord}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</template>
