<template name="greetings1">

	{{#markdown}}

##Greetings

You’ve arrived in Vietnam, and it’s time to go out and greet people! In Vietnam, you say hello with “Xin chào”, typically accompanied by a very light nod (children often bow to adults as a sign of respect). Vietnamese often starts a conversation with "Xin chào". To say goodbye, use “Tạm biệt”. “Chào” is the short version that can be used for saying hello or goodbye. Think of it as a flexible hi / bye.

We'll also introduce the neutral, friendly 2nd person pronoun "bạn". It's the equivalent of "you" in English, but is used when you don't want to emphasize gender, ranking, age, mostly seen among friends, but not between couples nor people with different age or rank. Use "bạn" when you talk to friends or someone with similar level as you are.

Here are a few useful phrases. You can just memorize them for now and don't worry too much about the sentence structure.

	{{/markdown}}

<table>
  <caption>Greetings phrases</caption>
  <thead>
    <tr>
      <th>Vietnamese</th>
      <th>Translation</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Xin chào</td>
      <td>Hello</td>
    </tr>
    <tr>
      <td>Tạm biệt</td>
      <td>Hello</td>
    </tr>
    <tr>
      <td>Chào buổi sáng</td>
      <td>Good morning</td>
      <td>Vietnamese don't usually say good afternoon or good evening</td>
    </tr>
    <tr>
      <td>Chào bạn</td>
      <td>Hello</td>
      <td>This litterally means "Hi you", but it has a friendly connotation, addressing the person you're speaking to using the friend 2nd person pronoun "Bạn"</td>
    </tr>
    <tr>
      <td>Bạn khoẻ không?</td>
      <td>How are you?</td>
      <td>This litterally means "Are you in good health?", so you should only use it when you meet someone for the first time or after a long time. It would be a good conversation starter, just beware not to use this many times during the same day, you'll confuse people of why you're still wondering about their health</td>
    </tr>
    <tr>
      <td>Tôi khoẻ</td>
      <td>I am good</td>
      <td>Use this as a reply to "bạn khoẻ không?". It's a polite response and commonly used by most people. This litterally means "I'm in good health"</td>
    </tr>
    <tr>
      <td>Cám ơn</td>
      <td>Thank you</td>
      <td></td>
    </tr>
    <tr>
      <td>Cám ơn bạn nhiều</td>
      <td>Thank you very much</td>
      <td>Notice we use the neutral "bạn" here. It can be replaced by any other second person pronoun as we'll learn them more in the future</td>
    </tr>
    <tr>
      <td>Không có chi</td>
      <td>No problem</td>
      <td>Use this as a reply to someone thanking you</td>
    </tr>
    <tr>
      <td>Xin lỗi</td>
      <td>Sorry / Excuse me</td>
      <td></td>
    </tr>
    <tr>
      <td>Không sao</td>
      <td>No problem</td>
      <td>Use this as a reply to someone appologizing to you</td>
    </tr>
  </tbody>
</table>
</template>

