<template name="header">
  <nav class='top-bar' data-topbar role='navigation'>
    {{#if currentUser}}
      <!-- Title area -->
      <ul class='title-area'>
        <li class='name'>
          <span><a href="{{pathFor 'index'}}"><img src="img/logo-landing.png" height="53px" width="96px"></a></span>
        </li>
        <li class='toggle-topbar icon'>
          <a href="{{pathFor 'index'}}">
            <span>Menu</span>
          </a>
        </li>
      </ul>
      <!-- Menu -->
      <section class='top-bar-section'>
        <ul class='left'>
          <li>
            <a class="nav-lesson" href="{{pathFor 'lessonsList'}}">
              Lessons
            </a>
          </li>
        </ul>
        <ul class='right'>
          <li>
            <div class="label">Day streak: {{currentUser.profile.dayStreak}}</div>
          </li>
          <li>
            <div class="label">Level: {{currentUser.profile.level}}</div>
          </li>
          <li>
            <div class="label">Xp: {{currentUser.profile.xp}}</div>
          </li>
          <li>
            {{> loginButtons align="right"}}
          </li>
        </ul>
      </section>
    {{else}}
      <!-- Landing page -->
    <section>
      <span><a href="{{pathFor 'index'}}"><img src="img/logo-landing.png" height="53px" width="96px"></a></span>

      <span><p id="landing-page-slogan">
        Where you can learn <img src="img/vn-flag.png"> <em>Vietnamese</em> in a simple and effective way.
      </p></span>
    </section>
    {{/if}}
  </nav>
</template>
