<template name="header">
  {{#if currentUser}}
    <nav class='top-bar' data-topbar role='navigation'>
      <!-- Title area -->
      <ul class='title-area'>
        <li class='name'>
          <h1>
            <a href="{{pathFor 'home'}}">
              Vietspeak
            </a>
          </h1>
        </li>
        <li class='toggle-topbar icon'>
          <a href="{{pathFor 'home'}}">
            <span>Menu</span>
          </a>
        </li>
      </ul>
      <!-- Menu -->
      <section class='top-bar-section'>
        <ul class='left'>
          <li>
            <a class="nav-lesson" href="{{pathFor 'lessonsList'}}">
              Lessons
            </a>
          </li>
        </ul>
        <ul class='right'>
          <li>
            {{> loginButtons align="right"}}
          </li>
        </ul>
      </section>
    </nav>
  {{/if}}
</template>
