<template name="lessonsList">
  <div class='lesson-list'>
    <div class="row lesson-list-header">
      <img src="/img/lesson-icon.png"><span class="page-title">lessons</span>
    </div>
    <div class="row lesson-list-body">
      <ul class="small-block-grid-4">
        {{#each levels}}
          {{#each lessons level}}
            {{> lessonItem}}
          {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="lessonItem">
  <li class="lesson-item {{#if completed}}completed{{/if}} {{#unless unlocked}}locked{{/unless}}">
    <a class="button" href="{{#if unlocked}}{{pathFor 'lessonPage'}}{{/if}}" style="background-image: url('/img/icons/{{name}}.png');">
      <span class="lesson-item-title {{#unless unlocked}}locked{{/unless}}">
        <strong>{{title}}</strong>
        <h6>Level {{level}}</h6>
        {{#unless unlocked}}
          <p>{{xpRequired}} pts required</p>
        {{/unless}}
      </span>
    </a>

  </li>
</template>
