<template name="lessonContent">

	<section id="lesson-content">
		<div class='row'>
			<span class="small-2 columns left {{#unless isFirstPage}}back button fa fa-chevron-left fa-2x{{/unless}}"></span>
			<span class='small-8 columns'>
				<h3>{{page}}/{{pageTotal}}</h3>
	    	{{> Template.dynamic template=content}}
	    </span>
			<span class="small-1 columns right {{#unless isLastPage}}next button fa fa-chevron-right fa-2x{{/unless}}"></span>
		</div>
		{{#momentum plugin="fade"}}
	  	{{#if showChallengeButton}}
				<button class="practice-button right">Challenge!</button>
			{{/if}}
		{{/momentum}}
	</section>

</template>
