<template name="login">
  <h1>Login</h1>
  <form>
    <input type="text" name="loginEmailOrName" placeholder="username or email">
    <input type="password" name="loginPassword" placeholder="password">
	<div>
		<input type="checkbox" name="rememberMe"><span>&nbsp; Remember me</span>
		<span class="right"><a>forgot your password?</a></span>
	</div>
	<input type="submit" value="Login" class="landing-page-login button">
	<button id="signup-link" class="switch-signup-login right button">Sign Up</button>
  </form>
</template>
