<template name="basic1">

	{{#markdown}}

##Basic 1

Vietnamese is a Subject-Verb-Object (SVO) language, in which the subject, verb, and object of a sentence appear or usually appear in that order. For example, in "Tôi ăn bánh" (I eat cake), the subject "Tôi" is followed by the verb "ăn" (eat) and the object "bánh" (cake).

In this lesson, we will start off with learning "Tôi là..." - "I am...", "Đây là..." - "This is…”, and several useful nouns. Vietnamese has many pronouns for first person, second person, and third person depending on sex, age, rank, and attitude. "Tôi" is the neutral, friendly first person pronoun. Most of the time, if you're unsure, use "tôi".

Vietnamese nouns by themselves are neither singular nor plural. Instead, quantifiers can be added or context can be used to make that distinction.


	{{/markdown}}

</template>
