/* Animations */

@keyframes shakeWrongAnimation {
  0%  {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

@-o-keyframes shakeWrongAnimation {
  0%  {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

@-moz-keyframes shakeWrongAnimation {
  0%  {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

@-webkit-keyframes shakeWrongAnimation {
  0%  {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


